* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.666667%;
}

.col-12 {
  width: 100%;
}

/**Alturas y float**/
.h-400 {
  height: 400px;
}

.h-800 {
  height: 800px;
}

.right {
  float: right;
}

.left {
  float: left;
}

/**colores y bordes**/
.gray {
  background-color: #77787c;
}

.silver {
  background-color: #dcdddf;
}

.border {
  border: 6px #ffffff solid;
}
